h1{
  background-color: chocolate;
  cursor: pointer;
}

button{
  cursor: pointer;
}
img{
  height: 400px;
  width:350px;
  display:block;
  
}
button{
  background-color: red;
  color:white;
  padding-left: 30px;
  padding-right: 30px;
}
body{
  background-color: aqua;
}